                </div>
            </div>
        <!--</center>-->
        <footer class="footer">
          <div class="container">
            <p class="text-muted">Some footer here, with copyright and all that</p>
          </div>
        </footer>

    
        <script src="./js/jquery-1.9.1.min.js"></script>
        <script src="./js/bootstrap.js"></script>
        <script src="./js/main.js"></script>
        <script src="./js/magnific-popup.min.js"></script>
    </body>
</html>